.idea
./var
./app/*

./docker/database/data/*
!./docker/database/data/.gitignore

./docker/elasticsearch/data/*
!./docker/elasticsearch/data/.gitignore

./docker/keycloak/data/*
!./docker/keycloak/data/.gitignore

./docker/localstack/data/*
!./docker/localstack/data/.gitignore

